<div class="products-container">
    <div class="product" *ngFor="let product of products">
        <img [src]="product.image" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p>Rating: {{ product.rating }}</p>
        <div class="button-container">
            <button class="whatsapp-button" (click)="shareViaWhatsApp(product.link)">WhatsApp</button>
            <button class="telegram-button" (click)="shareViaTelegram(product.link)">Telegram</button>
        </div>
    </div>
</div>
